@page "/"

<PageTitle>Home</PageTitle>

<h3>
    Time for Timer!
</h3>

<p>
    This is an interesting demo where we are tracking user activity.  
</p>
<p>
    Navigate to the TimerDemo page
</p>
<p>
    If you don't move your mouse or press a key for 5 seconds, you will see a warning message.
</p>
<p>
    However, if you move your mouse inside an IFrame, the timer never resets.
</p>
    
